<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>My name is Niv and I am 15 years old, Hello EVERYONE!</h1>
<br>

<form action="/" method="POST">
    <input type="text" name="quote" placeholder="Write your quote!">
    <br><br>
    <input type="text" name="name" placeholder="What is your name?">
    <br><br>
    <input type="text" name="age" placeholder="What is your age?">
    <br><br>
    <input type="submit" value="Submit">
</form>
 
</body>
</html>